[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest.git
[submodule "libs/benchmark"]
	path = libs/benchmark
	url = https://github.com/google/benchmark.git
[submodule "libs/emsdk"]
	path = libs/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "libs/lcov"]
	path = libs/lcov
	url = https://github.com/linux-test-project/lcov.git
